.side {
  position: absolute;
  margin: 10px 30px;
  background-color: #343ab5;
  color: #ffffff;

  width: 100px;
  height: 620px;

  border-radius: 24px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  text-align: center;
}

.side .logo a {
  color: #ffffff;
  text-decoration: none;
}

.side .logo-img {
  width: 62px;
}

.side .logo h1 {
  font-family: "Rubik";
  font-size: 54px;
  line-height: 102px;
}

.side .icons {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.size .exit {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
