.courses{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 620px;
    height: 80px;

    border-radius: 14px;

    background-color: #f5f5f7;

    margin-bottom: 25px;
    margin-left: -90px;
}

.courses img{
    width: 64px;
    height: 64px;

    background-color: #ffffff;

    border-radius: 12px;
}
.courses h3{

    font-family: 'Open Sans';
    font-size: 14px;

    line-height: 19.07px;

    max-width: 164px;
}

.courses p{
    font-family: 'Roboto';
    font-size: 13px;
}

.courses a{
    width: 120px;
    height: 40px;

    border: 2px solid #0C0B0B;
    box-sizing: border-box;
    border-radius: 8px;

    text-decoration: none;

    font-family: Roboto;
    font-size: 13px;

    display: flex;
    align-self: center;
    justify-content: center;

    color: #0C0B0B;
}
